* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #14182a;
    color: #fff;
}


h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
    color: #3bc8e7;
}

a {
    color: #fff;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}


a:hover {
    text-decoration: none;
    color: #3bc8e7;
}

a:focus,
button:focus {
    outline: none;
}

.tmdb-color {
    color: #3bc8e7 !important
}

.tmdb-bg-color {
    background-color: #3bc8e7 !important
}

.form-control:focus {
    box-shadow: 0px 0px 10px rgba(59, 200, 231, 0.55);
    border: 1px solid #3bc8e7;
}

.d-hide {
    display: none
}

.mt-6 {
    margin-top: 3.5rem !important;
}

.mt-7 {
    margin-top: 4rem !important;
}

.banner-less-margin {
    margin-top: 10rem !important;
}

@media only screen and (min-width: 1200px) {
    .col-xl-2 {
        width: 20%;
    }
}

@media only screen and (max-width: 576px) {
    .d-sm-hide {
        display: none
    }

    .d-sm-flx {
        display: flex;
    }

    .d-sm-inline-show {
        display: inline-block
    }
}
