.genre-heading {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.genre-heading h1 {
    font-size: 1.5rem;
    display: inline-block;
    padding-bottom: 10px;
    text-transform: capitalize;
    margin-bottom: 0;
    font-weight: 600;
    line-height: 1.2;
    color: #3bc8e7;
    position: relative;
}

.genre-heading h1::after {
    width: 100px;
    height: 5px;
    content: "";
    position: absolute !important;
    bottom: 0;
    left: -15px;
    z-index: 0;
    background: -webkit-radial-gradient(50% 50%, ellipse closest-side, #3bc8e7, rgba(255, 42, 112, 0) 60%);

}

.genre-heading .view-all a {
    font-size: 1.5rem;
}
